<table class="table--full-width document-footer">
    <tr>
        <td>footerLabel</td>
        <td>projectName</td>
        <td>footerPageLabel<span class="pagenumber"/> footerPageOfLabel <span class="pagecount"/></td>
    </tr>
</table>
