<li id="${sectionId}">
    <h2>${title}</h2>

    <p class="comment">
        Данный раздел должен содержать полный список всех документов, упомянутых в настоящем документе. Каждый документ
        должен быть идентифицирован соответствующим заголовком, номером (если есть), датой и организацией, издавшей
        документ. Определите источники, из которых может быть получена справочная информация.
    </p>
    <ol>
        <li>Данный документ ссылается на следующие документы:
            <table>
                <tr>
                    <th>Номер</th>
                    <th>Название</th>
                    <th>Дата издания</th>
                    <th>Автор</th>
                </tr>
            <#list references as reference>
                <tr>
                    <td>${reference.number}</td>
                    <td>${reference.name}</td>
                    <td>${reference.publicationDate?datetime}</td>
                    <td>${reference.author}</td>
                </tr>
            </#list>
            </table>
        </li>
    </ol>
</li>
