<li id="${sectionId}">
    <h2>${title}</h2>

    <p class="comment">
        Данный раздел должен содержать определения всех терминов, обозначений и сокращений, необходимых для правильной
        интерпретации настоящего документа. Термины, обозначения и сокращения должны быть расположены в алфавитном
        порядке. Эта информация может быть представлена в виде приведённой ниже таблицы или в виде ссылки на Глоссарий
        проекта в Плане управления коммуникациями (см. шаблон ПМБОК10.1.3.1).
    </p>
    <ol>
        <li>Термины, используемые в настоящем документе:
            <table>
                <tr>
                    <th>Термин</th>
                    <th>Определение</th>
                </tr>
            <#list vocabulary as v>
                <tr>
                    <td>${v.name}</td>
                    <td>${v.description}</td>
                </tr>
            </#list>
            </table>
        </li>
    </ol>
</li>
