@font-face {
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

body {
    font-family: Arial Unicode MS, Lucida Sans Unicode, Arial, verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background: #fff;
}

p {
    margin: 0 0 10px 0;
}

.color-link {
    color: #428bca;
}

.underlying-text {
    text-decoration: underline;
}

/*Sections numeration */

.section-wrapper>li:first-child {
    page-break-before: always;
}

.section-wrapper>li,
.section-wrapper>li:before {
    font-weight: bold;
    font-size: 1.5em
}

.section-wrapper li,
.section-wrapper li p,
.section-wrapper li table {
    font-size: 12px;
    font-weight: normal;
}

li h2, li h3, li h4 {
    display: inline-block;
    margin: 10px 0;
}

li {
    list-style-type: none;
    margin-bottom: 5px;
}

ol {
    counter-reset: list1;
    padding: 0;
}

ol li:before {
    counter-increment: list1;
    content: counter(list1) ". ";
}

ol ol {
    counter-reset: list2;
    padding: 0;
}

ol ol li:before {
    counter-increment: list2;
    content: counter(list1) "." counter(list2) " ";
}

/*Headings*/

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

/* Comments */

.comment {
    color: #0033cc;
    font-style: italic;
    font-size: 0.75em !important;
}

.comment:before {
    content: "\3C";
}

.comment:after {
    content: "\3E";
}

/* Tables */

table {
    margin: 10px auto;
    border-collapse: collapse;
    page-break-inside: avoid;
}

table th, table td {
    border: 1px solid #333;
    margin: 0;
    padding: 5px;

}

table th {
    background: #ccc;
    font-weight: normal;
}

/* Header*/

.document-header {
    position: running(header);
}

.document-header td {
    border: 0;
}

/* Footer */

.document-footer {
    position: running(footer);
}

.document-footer td {
    border: 0;
}

@page {
    margin: 3cm 2cm 2cm 2cm;

    @top-center {
        content: element(header)
    }
    @bottom-center {
        content: element(footer)
    }
}

.pagenumber:before {
    content: counter(page);
}

.pagecount:before {
    content: counter(pages);
}

a.toc-item::after {
    content: leader('.') target-counter(attr(href), page);
}

.rowspan3 {
    -fs-table-cell-rowspan: 3;
}

.rowspan2 {
    -fs-table-cell-rowspan: 2;
}

.colspan2 {
    -fs-table-cell-colspan: 2;
}

.table--full-width {
    width: 100%;
}

/* page structure */

.on-new-page {
    page-break-before: always;
}

.break-after {
    page-break-after: always;
}

/* Table Of Contents*/

.toc-list {

}

/* Title */

.right {
    text-align: right;
    float: right;
    margin-top: 4em;
}

.clear {
    clear: both;
    visibility: hidden;
}

.uppercased {
    text-transform: uppercase;
    line-height: 2em;
}

.big {
    font-size: 1.3em;
}